@{
    ViewData["Title"] = "Home Page";
    string? mensagemAlerta = TempData["MensagemAlerta"] as string;


}
@if (!string.IsNullOrEmpty(mensagemAlerta)) // se a string n estiver vazia ou nula
{
    // alert mostrar o status do login
    <script type="text/javascript">
        window.onload = function(){ 
           alert("@mensagemAlerta");
        };
    </script>

}
<div class="container-fluid fundoBrancoSeccao shadow">
    <div class="container fundoBrancoSeccao">
        <div class="py-4">
            <partial name="_Carrossel" />
        </div>
        <div class="my-4">
            <partial name="_Categorias" />
        </div>
    </div>
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <partial name="_Produto" />
</div>
<div class="container mb-5">
    <partial name="_Carrossel" />
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <h2>O que nossos clientes dizem:</h2>
    <div class="avaliacaoLista row row-cols-1 row-cols-md-2 g-4">
        <div class="avaliacao col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets/imagens/cliente1.jpg" class="img-fluid rounded-start h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">A melhor loja que já comprei!</h5>
                            <p class="card-text">Desde que virei cliente fiel só tive sorte e felicidade.</p>
                            <p class="card-text"><small class="text-body-secondary">⭐⭐⭐⭐⭐</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="avaliacao col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets/imagens/clienteDavi.jpeg" class="img-fluid rounded-start h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Amo essa loja!</h5>
                            <p class="card-text">Desde que comprei pela primeira vez, não consigo para de comprar!</p>
                            <p class="card-text"><small class="text-body-secondary">⭐⭐⭐⭐⭐</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">

	<div class="avaliacoes d-flex flex-column mt-5" id="avaliacao">
        <h1 class="text-center mb-5 mt-3 ">Avaliações de cliente</h1>

        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <img src="~/assets/imagens/eusoualenda.jpeg" class="imagemAvaliacao"/>
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Produtos incríveis e entrega super rápida! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Comprei alguns snacks japoneses e chegaram em perfeito estado. A loja ganhou mais um cliente fiel!</p>
            </div>
        </div>
        <hr/>
        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Atendimento excelente, recomendo muito! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Me ajudaram a escolher os produtos e tiraram todas as minhas dúvidas. Experiência perfeita do início ao fim.</p>
            </div>
            <img src="~/assets/imagens/terryCliente.jpeg" class="imagemAvaliacaoEsquerda" />
        </div>
        <hr/>
        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <img src="~/assets/imagens/clienteAna.jpeg" class="imagemAvaliacao" />
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Qualidade muito acima do esperado! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Os produtos são autênticos e bem embalados. Já virei fã da loja e vou comprar mais vezes!</p>
            </div>
        </div>
	</div>
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <div class="faq pb-3">
        <h2 class="text-center fw-bold mb-5 pt-3">Perguntas frequentes</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        O frete é grátis?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Sim</strong>, o frete é grátis para São Paulo e Região.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Aceita devolução?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Sim</strong>, se você precisar devolver um produto, fique tranquilo! Aceitamos devoluções em até 7 dias após o recebimento, desde que o item esteja sem uso, com etiqueta e na embalagem original. Para iniciar o processo, entre em contato com nosso atendimento informando o número do pedido e o motivo da devolução. Após a análise, enviaremos as instruções para o envio. Produtos danificados ou com defeito também podem ser devolvidos dentro desse prazo. Nossa missão é garantir sua satisfação com cada compra feita em nossa loja de produtos orientais.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Entrega em que região?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Todas!</strong> Por meio de nossos parceiros de logística entregamos em qualquer região do Brasil em até 2 semanas desde o preparo do pedido. Caso haja algum problema no envio por favor contate nosso <a href="#">suporte</a> e resolveremos o mais rápido possivel.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Produtos são importados?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>A maioria</strong>, mas trabalhamos com alguns artesanais.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>