@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid fundoBrancoSeccao shadow">
    <div class="container fundoBrancoSeccao">
        <div class="py-4">
            <partial name="_Carrossel" />
        </div>
        <div class="my-4">
            <partial name="_Categorias" />
        </div>
    </div>
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <partial name="_Produto" />
</div>
<div class="container mb-5">
    <partial name="_Carrossel" />
</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">
    <h2>O que nossos clientes dizem:</h2>
    <div class="avaliacaoLista row row-cols-1 row-cols-md-2 g-4">
        <div class="avaliacao col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets/imagens/cliente1.jpg" class="img-fluid rounded-start h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">A melhor loja que já comprei!</h5>
                            <p class="card-text">Desde que virei cliente fiel só tive sorte e felicidade.</p>
                            <p class="card-text"><small class="text-body-secondary">⭐⭐⭐⭐⭐</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="avaliacao col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/assets/imagens/clienteDavi.jpeg" class="img-fluid rounded-start h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Amo essa loja!</h5>
                            <p class="card-text">Desde que comprei pela primeira vez, não consigo para de comprar!</p>
                            <p class="card-text"><small class="text-body-secondary">⭐⭐⭐⭐⭐</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container fundoBrancoSeccao roundedSecao shadow mb-5">

	<div class="avaliacoes d-flex flex-column mt-5" id="avaliacao">
        <h1 class="text-center mb-5 mt-3 ">Avaliações de cliente</h1>

        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <img src="~/assets/imagens/eusoualenda.jpeg" class="imagemAvaliacao"/>
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Produtos incríveis e entrega super rápida! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Comprei alguns snacks japoneses e chegaram em perfeito estado. A loja ganhou mais um cliente fiel!</p>
            </div>
        </div>
        <hr/>
        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Atendimento excelente, recomendo muito! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Me ajudaram a escolher os produtos e tiraram todas as minhas dúvidas. Experiência perfeita do início ao fim.</p>
            </div>
            <img src="~/assets/imagens/terryCliente.jpeg" class="imagemAvaliacaoEsquerda" />
        </div>
        <hr/>
        <div class="avaliacao d-flex flex-row justify-content-between mb-5">
            <img src="~/assets/imagens/clienteAna.jpeg" class="imagemAvaliacao" />
            <div class="avaliacaoTexto d-flex flex-column">
                <h2 class="featurette-heading fs-1">Qualidade muito acima do esperado! <span class="text-muted">⭐⭐⭐⭐⭐</span></h2>
                <p class="lead">Os produtos são autênticos e bem embalados. Já virei fã da loja e vou comprar mais vezes!</p>
            </div>
        </div>
	</div>
</div>