/*FONTES*/
@font-face{
    font-family: 'IntegralCF';
    src: url(../assets/fonts/integralcf-regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'IntegralCF';
    src: url(../assets/fonts/integralcf-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fonts/Satoshi-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url(../assets/fonts/Satoshi-Bold.otf);
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Variaveis*/

:root {
    --vermelhoHeader: #F04242;
    --preto: #000000;
    --brancoCategoria: #F3F4F6;
    --brancoFundo: #F2F0F1;
    --brancoPuro: #FFFFFF;
    --verdePromocoes: #0C980C;
    --vermelhoPromocoes: #E00000;
    --cinzaTexto: #6B6B6B;
    --cinzaBorda: #E5E7EB;
    --azulTitulo: #2B3674;
    --cinzaDash: #696b6e;
    --verdeAumento: #00B69B;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}
/*NAV BAR*/
.navEmpresa{
    font-family: 'IntegralCF' , 'sans-serif';
    font-weight: bold;
    font-size: 40px;
}
.navBarVermelho{
    background-color: var(--vermelhoHeader)
}
.navItem, .navPreto{
    color: var(--preto) !important;
    font-size: 16px;
}
.iconeHeader{
    gap: 20px;
}
.alinharMeio {
    top: 50%; 
    transform: translateY(-50%)
}

.categoriaBody {
    background-color: var(--brancoCategoria);
    width: 135px;
    height: 135px;
}
.categoriaBody img {
     width: 115px;
     height: 115px;
}

.listaCategoria a {
    color: var(--preto);
    align-items: center;
    text-decoration: none;
}
.listaCategoria a h4 {
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
    color: var(--preto);
    font-weight: bolder;
    text-decoration: none;
 }
.fundoBrancoSeccao {
    background-color: var(--brancoPuro);
}

.fundoBranco {
    background-color: #F2F2F2;
}
.fundoAzulado {
    background-color: #F4F7FE;
}

/*Produtos*/
.produtoBody {
    border-radius: 5px;
    border-style: solid;
    border-color: var(--cinzaBorda);
    font-family: 'Poppins', sans-serif;
    width: 220px;
}
.produtoBody img{
    width: 185px; 
}
.produtoSeccaoHeader h2 {
    font-family: 'IntegralCF', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px
}
.produtoSeccaoHeader a{
    text-decoration: none;
}
.produtos a {
    text-decoration: none;
}
.produtoParcelas, .produtoBody span{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--verdePromocoes);
}
.infoProduto h3, h5 ,h2{
    font-size: 20px;
    color: var(--preto);
    text-decoration: none;
}
.infoProduto h5{
    color: var(--cinzaTexto);
    font-size: 12px;
}
.infoProduto h2{
    color: var(--vermelhoPromocoes)
}

.produtoParcelas h5{
    color: var(--verdePromocoes)
}
.roundedSecao{
    border-radius: 15px !important
}
.imagemAvaliacao{
    margin-right: 6rem;
}
.imagemAvaliacaoEsquerda{
    margin-left: 3rem;
}
.avaliacoes h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}
.faq h2 {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}
.blocoInfo {
    height: 150px;
    border-radius: 15px;
    padding: 20px;

}
.blocoInfo h2 {

    font-size: 2rem;
    color: #202224
}
.table{
    width: 80vw;
}
.listar {
    border-radius: 15px;
}

/*DASHBOARD*/
