@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDash";
}
<div class="container h-100 ms-3">
    <h1>DASHBOARD</h1>

    <div class="blocoInfo bg-white w-25">
        <h4>Preco</h4>
        <div class= "d-flex flex-row align-items-center">
            <h3>20%</h3>
            <h2>R$ 3000</h2>
        </div>
    </div>
</div>