<div class="listaCategoria d-flex flex-row justify-content-between mb-4 pb-4">

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/pepero1.png" class="ms-2" />
		</div>
		<h4>Doces</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/salgadinho.png" class="ms-2" />
		</div>
		<h4>Salgados</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/kit.png" class="ms-2" />
		</div>
		<h4>Kits</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/hashi.png" class="ms-2" />
		</div>
		<h4>Hashis</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/gatoSorte.png" class="ms-2" />
		</div>
		<h4>Brinquedos</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/condimento.png" class="ms-2" />
		</div>
		<h4>Condimentos</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/tempero.png" class="ms-2" />
		</div>
		<h4>Tempero</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/Cha.png" class="ms-2" />
		</div>
		<h4>Chá</h4>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div class="rounded-circle categoriaBody d-flex justify-content-center flex-column">
			<img src="~/assets/imagens/macarrao.png" class="ms-2" />
		</div>
		<h4>Macarrão</h4>
	</div>

</div>