.sideBar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    color: white;
    padding: 20px;
}

.container-fluid {
    margin-left: 250px; /* mesma largura da sidebar */
}
body{
    background-color: aliceblue
}
.sideBar hr {
    border: 1px solid #000f;
    opacity: 0.75;
}
.dropdown-item{
    font-size: 1rem;
}
.marca h1 {
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}
a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #202224;
}
.container-fluid.fundoBranco {
    min-height: 100vh; /* ocupa a tela toda */
}