.sideBar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(14, 15, 14);
    color: white;
    padding: 20px;
}

.container-fluid {
    margin-left: 250px; /* mesma largura da sidebar */
}
body{
    background-color: aliceblue
}
a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
