<div>
	<div class="produtoSeccaoHeader d-flex justify-content-between py-3">
		<h2>PRODUTOS:</h2>
		<a href="#">Ver tudo ></a>
	</div>
	<div class="produtos pb-5 d-flex flex-row justify-content-between">
		<a asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</a>
		<a asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</a>
		<a asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</a>
		<a asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</a>
		<a asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>