<div>
	<div class="produtoSeccaoHeader d-flex justify-content-between py-3">
		<h2>PRODUTOS:</h2>
	</div>
	<div class="produtos pb-5 d-flex flex-row justify-content-between">

		<div asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/pepero1.png" />
				<div class="infoProduto">
					<h3>Nome produto teste wahh Itsame wario</h3>
					<h5><s>R$500,00</s></h5>
					<h2>R$300,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>5x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</div>

		<div asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/mochi.jpg" />
				<div class="infoProduto">
					<h3>Mochi Japonês</h3>
					<h5><s>R$20,00</s></h5>
					<h2>R$12,00</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>2x R$6,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</div>

		<div asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/dorayaki.webp" />
				<div class="infoProduto">
					<h3>Dorayaki Tradicional</h3>
					<h5><s>R$25,00</s></h5>
					<h2>R$15,90</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>3x R$5,30</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</div>

		<div asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/onigiri.webp" />
				<div class="infoProduto">
					<h3>Onigiri (Bolinhos de Arroz)</h3>
					<h5><s>R$18,00</s></h5>
					<h2>R$9,90</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>2x R$5,00</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</div>

		<div asp-area="" asp-controller="Produto" asp-action="Privacy">
			<div class="produtoBody border-2 shadow ps-3">
				<span>Entrega Direta</span>
				<img src="~/assets/imagens/lamen.webp" />
				<div class="infoProduto">
					<h3>Lamen Japonês Premium</h3>
					<h5><s>R$30,00</s></h5>
					<h2>R$19,90</h2>
					<div class="produtoParcelas d-flex flex-row">
						<h5>3x R$6,60</h5>
						<h5 class="ms-2">Frete Grátis</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>