.sideBar[b-u6a57523it] {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    color: white;
    padding: 20px;
}

.container-fluid[b-u6a57523it] {
    margin-left: 250px; /* mesma largura da sidebar */
}
body[b-u6a57523it]{
    background-color: aliceblue
}
.sideBar hr[b-u6a57523it] {
    border: 1px solid #000f;
    opacity: 0.75;
}
.dropdown-item[b-u6a57523it]{
    font-size: 1rem;
}
.marca h1[b-u6a57523it] {
    color: #202224;
    font-family: "Nunito Sans", sans-serif;
}
a[b-u6a57523it] {
    font-size: 1.5rem;
    text-decoration: none;
    color: #202224;
}
.container-fluid.fundoBranco[b-u6a57523it] {
    min-height: 100vh; /* ocupa a tela toda */
}